<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casino Main Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="top-bar">
        <span id="username"><%= username %></span>
        <span id="money">$1000</span>
    </div>
    <div class="games-container">
        <div class="game" style="background-image: url('assets/dice.jpg')" onclick="playGame('slot-machine')">Dice</div>
        <div class="game" style="background-image: url('assets/blacjack.jpg')" onclick="playGame('blackjack')">Blackjack</div>
        <div class="game" style="background-image: url('assets/roulette.jpg')" onclick="playGame('roulette')">Roulette</div>
        <!-- Add more games here -->
    </div>
    <button class="settings-button">Settings</button>

    <script>
        // Function to handle playing a game
        function playGame(gameName) {
            // You can add logic here to navigate to the specific game page or perform other actions
            console.log('Playing ' + gameName);
        }
    </script>
</body>
</html>
