<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CasinoRealm ~ Menu</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="top-bar">
        <span id="username"><%= username %></span>
        <span id="money">$<%= cash %></span>
    </div>
    <div class="games-container">
        <div class="game" style="background-image: url('assets/dice.jpg')" onclick="playDice()">More or less</div>
        <div class="game" style="background-image: url('assets/blacjack.jpg')" onclick="playBlackjack()">Blackjack</div>
        <div class="game" style="background-image: url('assets/roulette.jpg')" onclick="playRoulette()">Roulette</div>
        <!-- Add more games here -->
    </div>
    <button class="settings-button">Settings</button>

    <script>
        // Function to handle playing a game
        function playDice() {
            window.location.href = '/dice';
        }

        function playBlackjack() {
            window.location.href = '/blackjack';
        }

        function playRoulette() {
            window.location.href = '/roulette';
        }
    </script>
</body>
</html>
