body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #4e018e, #990992); */
    background-image: url("assets/render.jpg");
    background-color: #000;
    height: 1200px;  /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.top-bar {
    background-color: rgba(100, 100, 100, 0.20);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Vertically center the items */
}

#username {
    margin-right: auto; /* Push the username to the far left */
}

#money {
    margin-left: auto; /* Push the cash amount to the far right */
    margin-right: calc(50% - (20px + 15px)); /* Adjust based on the width of username + some spacing */
}
.games-container{
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000; /* Create a thicker black outline */
}
.number-input {
    width: 300px;
    height: 60px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    color: #fff; /* White text */
    border-radius: 20px; /* Rounded corners */
    padding: 5px 10px;
    font-size: 36px;
    border: 1px solid #fff;
    outline: none; /* Remove outline */
}
.number-input::placeholder {
    color: rgb(235, 235, 235); /* Change this color to the desired color */
}
.button {
    position: relative; /* Add this line to make the position relative */
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    color: #fff; /* White text */
    border: none;
    margin: 20px;
    margin-top: 70px;
    padding: 10px 20px;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
    border: 1px #fff solid;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgba(100, 100, 100, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -45px; 
    left: 50%;
    margin-left: -60px; /* Negative half of the width */
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Create a thicker black outline */
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.button:hover .tooltip {
    visibility: visible;
}
.button:hover {
    border: 1px #fff solid;
    color: #000;
    background-color: rgba(255, 255, 255, 1); 
}
.game-results{
    min-height: 336px;
}
.settings-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s, transform 0.6s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 700;
}
.settings-button:hover {
    background-color: #ffffff;
    color: #000000;
    transform: translateY(-5px);
}